fastapi>=0.104.1
uvicorn>=0.24.0
pandas>=2.2.0
numpy>=1.26.2
scikit-learn>=1.5.2
joblib>=1.3.2
python-multipart>=0.0.6
pydantic>=2.5.2
slowapi>=0.1.8
python-jose>=3.3.0
passlib>=1.7.4
python-dotenv>=1.0.0
matplotlib>=3.7.0 # For plotting feature importance and model visualizations
seaborn>=0.13.0
librosa>=0.10.1 # Added librosa for audio processing
soundfile>=0.12.1 # For reading audio files
ffmpeg-python>=0.2.0 # For handling various audio formats
pydub>=0.25.1 # Additional audio processing library
